.logo{
    width: 40%;
}

body{
    overflow-x: hidden;
}

.bg-car1{
    background-image: url(../img/kcrmma.png);
    background-position: center center;
    background-size: contain;
    background-color: black;
}

.bg-car2{
    background-image: url(../img/kcrmma.png);
    background-position: center center;
    background-size: contain;
    background-color: black;

}

.bg-car3{
    background-image: url(../img/ufc.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
}

.bg-car4{
    background-image: url(../img/pridex.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
}

.bg-car5{
    background-image: url(../img/bellator.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
}


.text-custom{
    color: rgb(209, 28, 28);
    font-weight: bold;
}