.logo{
    width: 40%;
}

body {
    overflow-x: hidden;
}



.principiantes{
    width: 60%;
    height: 73%;
}

.bg-car1{
    background-image: url(../img/nuevas_maquinas.png);
    background-position: center center;
    background-size: contain;
}

.bg-car2{
    background-image: url(../img/kcrmma.png);
    background-position: center center;
    background-size: contain;
    background-color: black;
}