.logo{
    width: 40%;
}

body{
    overflow-x: hidden;
}


.bg-car1{
    background-image: url(../img/nuevas_maquinas.png);
    background-position: center center;
    background-size: contain;
    background-color: black;
}

.bg-car2{
    background-image: url(../img/kcrmma.png);
    background-position: center center;
    background-size: contain;
    background-color: black;
}

.text-custom{
    font-weight: bold;
}